body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0; /* or white or any light color you want */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
